body{
    background-color: rgb(8 8 33);
    color : white;
    padding: 0px;
    margin : 0px;
    /* Just for the purpose of testing */
    /* overflow-x: hidden; */
}

nav{
    position: fixed;
    background-color: #151531;
    height: 65px;
    width: 100%;
    margin: 25px 0px;


   
    
}



.supernav{
    height: 90px;
    width: 100%;
}


.nav{
    display: flex;
    margin: 0px 50px;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0px;
    font-size: 1.5rem;
    margin: 10px;
}

nav ul li{
    margin-right: 45px;
    transition : 1s;
    padding-bottom: 3px;
}

/*You have to learn it*/
nav ul li::before {
    content: '';
    position: absolute;
    bottom: 0;      /* Position it at the bottom */
    left: 0%;      /* Center it horizontally */
    width: 0;       /* Start with width 0 */
    height: 2px;    /* Height of the "border" */
    background-color: #fafafa;  /* Color of the "border" */
    transition: width 0.5s ease, left 0.5s ease; /* Transition for width and position */
}
  

nav ul li > a{
    text-decoration: none;
    color:rgba(256,256,256,0.5);
}

nav ul li:hover::before {
width: 100%;        /* Set the width to 50% on hover */
left: 0%;         
}

nav ul li:hover{
    
    transform :scale(1);
    cursor:pointer;

} 
   

nav ul li a:hover{
    color : rgba(256,256,256,1);

}
.right_side{

    font-family: "Protest Guerrilla", sans-serif;
    font-size: 3rem;
    cursor: pointer;
}

.left_side{

    display: flex;
    align-items: center;
}


/* Styling of Section 1 */

.section1{
    display: flex;
    justify-content: space-between;
    padding: 10%;
}



.section1 >div{
    /* background-color: black; */
    height: 55vh;
    width: 35%;
    /* just for testing  */
    /* margin: 35px; */
    /* padding: 50px;  */
    font-size: 40px;
}

.textDechi{
    color: rgb(63, 25, 65);
    font-weight: 900;
    font-size: 3rem;
}

.textDecname{
    font-family: "Protest Guerrilla", sans-serif;
    color: blueviolet;
    font-size: 4rem;

}

.textDecdev{
    color: rgb(63, 25, 65);
    font-weight: 900;
}

#element{
    color: blueviolet;
}


.section1 .rightFSec{
    padding: 0;
    /* margin: 20; test */
    height: 400px;
    width : 300px;
    border-radius: 100%;
    border : 4px solid rgba(255, 255, 255, 0.786);
    background: transparent;
    box-shadow: 
        0px 0px 8px white,
        inset 0px 0px 8px white,
        0px 0px 12px rgb(18, 15, 186),
        inset 0px 0px 12px rgb(18, 15, 186);
}

.rightFSec img{
    height: 400px;
    width : 300px;
    border-radius: 100%;
}

.section2{
    height: 75vh;
    /* width: 87%; */
    /* testing phase */
    /* margin: 2.5%; */
    padding: 10%;
    font-family: "Pacifico", cursive;
    display: flex;
    justify-content: space-between;
}

.section2 >div{
    height: 75vh;
    width: 45%;
}

.section2 h1 {
    font-size: 3rem;
    font-weight: 800;
}


.section2 img{
    height: 100%;
    width : 100%;
    border:  2px solid white;
    box-shadow: 0px 0px 4px white;
   
}



/* Footer of the web page start */

.footer{
    background-color: rgba(0, 0, 0, 0.45);
    height:  85vh;
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}
.footer > .childFooter{
    height : 100%;
    width : 30%;
}

.footer > .rightFooter{  
   font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.56rem;
    text-align: center;
    
    
}

.footer > .rightFooter > i{
    font-size: 40px;
    color : white;
}

.footer > .rightFooter > a{
    font-size: 50px;
    color : white;
    opacity: 0.7;
    transition: 1s ease;
   
}
.footer > .rightFooter > a:hover{
    opacity: 1;
    font-size: 59px;  
}

.footer > .midFooter{
    opacity: 0.97;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > .midFooter > img{
    height: 90%;
    width : 70%;
    border-radius: 7px;
    
}

.footer > .leftFooter{
    text-align: center;
    font-size: 30px ;
    font-family: "Protest Guerrilla", sans-serif;

}

.footer > .leftFooter > p{
    color : rgba(256,256,256,0.5);
    cursor: pointer;
    transition: 1s ease;

}

.footer > .rightFooter > p{
    color : rgba(256,256,256,0.5);
    cursor: pointer;
    transition: 1s ease;
}

.footer > .childFooter > h1{
    cursor: pointer;
}

.footer > .childFooter > h3{
    cursor:pointer;
}

 img{
    cursor : crosshair;
}

.footer>.rightFooter>p:hover{
    color : rgba(256,256,256,1);
    font-size: 28px;
}

.footer>.leftFooter>p:hover{
    color : rgba(256,256,256,1);
    font-size: 35px;
}



/* section 3 (part of about starts) */

.section3{
    height: 130vh;
    width: 94%;
    padding-left : 3%;
    padding-right : 3%;
    padding-top : 20px;
}

.subsection3{
    background-color: rgba(0, 0, 0, 0.7);
    padding : 50px;
    
}

.subsection3>h1{
    font-family: "Protfdest Guerrilla", sans-serif;
    font-size: 2.7rem;
    text-align: center;
    box-shadow: 0px 2px 5px wheat;
    transition: 1.5s;
}

.subsection3>h1:hover{
    box-shadow: 0px 4px 8px wheat;
}

.subsection3 > p{
    font-size: 24px;
    font-family :  "Edu AU VIC WA NT Guides", cursive;
    color : rgba(255, 255, 255,0.6) ;
    
}



.section3 > .subsection3 > p > span{
    font-family: "Protest Guerrilla", sans-serif;
    color : rgba(255, 255, 255,1) ;
}


/* section 4 of the services page*/
.section4{
   height: 110vh;
   width : 94%;
   padding:3%;
   background-color: rgba(192, 189, 194, 0.622);

}
.section4 >h1{
    color : black;
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2.7rem;
    text-align: center;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    transition: 1.5s;
}

.section4>h1:hover{
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
    cursor: pointer;
    
}

.section4 > .subsection{
    display: flex;
    justify-content: space-evenly;
    
}




.section4 > .subsection >.subsection1{
    background-color: rgb(18, 17, 32); /* testing phase */
    padding-left : 5%;
    padding-right : 5%;
    padding-top : 1%;
    border-radius: 9px;
    
    color : rgba(255, 255, 255, 0.734); /* testing phase */
    height: 90vh;
    width : 20%;
    transition: 1s;
    overflow: auto;
}

.section4 > .subsection > .subsection1:hover {
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.section4 > .subsection > .subsection1 > h1{
    text-align: center;
    width: 100%;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 42px;
    transition: 1s;
    padding : 0px;
    text-align: center;
}

.section4 > .subsection > .subsection1 > h1:hover{
    cursor: pointer;
}

.section4> .subsection > .subsection1>p{
    font-family :  "Edu AU VIC WA NT Guides", cursive;
    font-size: 22px;
    
}




.projects{
    padding : 50px;
}

.projects > h1{
    text-align: center;
    box-shadow: 2px 2px 7px white;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 42px;

}

.section5{
    height: 140vh;
    width: 96%;
    margin: 3%;
    background-color: white;
    border-radius: 7%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1VHFuvSxqEV0BUiz-rWp_zVejm4SvaVUcaw&s");
    background-size: auto;
    /* padding: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}







/* form of contact me start */
.form{
    height: 120vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.706);
    border-radius: 4%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
}

.section5 > .form > form  Label h1{
    color : rgb(255, 255, 255);
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2rem;
    /* text-align: center; */
    margin : 0px;
    /* background-color: rgba(0, 0, 0, 0.859); */
    border-radius: 15%;
    /* box-shadow: 0px 0px 2px white; */
}

.section5 > .form input{
    border :none;
    height: 15%;
    width: 98%;
    color : black;
    font-family:  "Protest Guerrilla", sans-serif ;
    font-size: 40px;
    text-align: center;
    border-radius: 45px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.section5 > .form textarea{
    padding: 20px;
    border :none;
    height: 15%;
    width: 92%;
    color : black;
    font-family:'Times New Roman', Times, serif ;
    font-size: 22px;
    text-align: center;
    border-radius: 75px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0); 
}

.section5 > .form #gmail {
    font-size: 25px;
}


.section5 > .form > form  button{
    color : rgba(255, 255, 255, 0.804);
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin : 0px;
    background-color: rgba(17, 9, 111, 0.773);
    border-radius: 15%;
    box-shadow: 0px 0px 2px white;
    width: 98%;
    border:none;
    transition: 1s;
    cursor: pointer;
    
}


.section5 > .form > form  button:hover{
    box-shadow: 0px 2px 4px white;
    color : white;
    background-color: rgb(17, 9, 111);
    
    
}

.nav > .left_side > .menuIcon > span{
    font-size: 50px;
}



/* media queries */

@media (min-width : 1051px) {
    .nav > .left_side > .menuIcon{
        display: none;
    }
}

@media (max-width : 1050px) {
    .nav > .left_side > ul{
        display : none;
    }

    .nav > .left_side > .menuIcon{
        display: absolute;
    }
}

@media (max-width : 1000px) {
    .section4{
        height: 210vh;
    }
    .section4 > .subsection{
        display :flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height : 190vh;
    }

    .section4 > .subsection > .subsection1{
        width : 90%;
        height : 55vh;
    }

    .section3{
        height: 140vh;
    }

    .subsection3{
        height: 110vh;
    }
}

@media (max-width : 850px) {
    .form{
        width:75%;
    }
    .section1{
        height: 110vh;
    }
    .footer{
        height: 95vh;
    }
}

@media (max-width : 800px) {
    .section1{
        margin: 0 auto;
        height : 120vh; 
        width: 65%;
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: start;
        position: relative; 
        align-items: center;      
    }
    nav {
        z-index: 1; 
    }
    

    .section1>div{
        width : 100%;
        height : 45%;
    }

    .section1>.right_side{
        display: flex;
        justify-content: center;
    }

    .section2{
        height : 170vh;
        width: 87%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .section2 > div{
        width : 100%;
        height : 45%;
        
    }

    .footer{
        width: 100%;
        height: 260vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer .childFooter{
        width: 100%;
    }
    
    .footer .midFooter{
        width: 50%;
    }

    
}

@media (min-width : 450px ) and (max-width : 750px){

    .subsection3{
        width : 79%;
        height : 130vh;

    }

    .section2{
        width: 81%;
    }
}

@media (max-width : 650px) {
    .section3{
        height: 200vh;
    }
    .subsection3{
        width : 79%;
        height : 180vh;
        
    }
    .footer .midFooter{
        width: 60%;
    }
    .section2{
        width: 80%;
    }
}

@media (max-width : 550px) {
    .section1{
        height: 140vh;
    }
    .section2{
        height: 180vh;
        width: 79%;
    }

    .section3{
        height: 220vh;
    }
    .subsection3{
        width: 75%;
        height: 190vh;
    }
    
    .section4{
        height: 300vh;
    }
    .section4 > .subsection{
        height : 280vh;
        width : 94%;
        align-items: center;
    }
    
    .section4 > .subsection > .subsection1{
        margin-left: 6%;
        width : 96%;
        height : 84.6vh;
    }
    .footer .midFooter{
        width: 70%;
    }
    
}

@media (max-width : 500px) {
    .section2 img{
        height: 80%;
    }
    .section3{
        height: 240vh;
    }
    .subsection3{
        height: 210vh;

    }
    .section5{
        height: 140vh;
    }
    .form{
        width : 85%;
        height: 120vh;
    }
    .footer{
        width: 100%;
    }
    .footer .midFooter{
        width: 80%;
    }
}

@media (max-width: 450px) {
    .section1{
        height: 150vh;
    }
    .section2{
        height: 200vh;
        width: 75%;
    }
    .section2 img{
        height: 70%;
    }
    .section3{
        height: 270vh;
    }
    .subsection3{
        height: 240vh;

    }

    .footer .midFooter{
        width: 90%;
    }
    
}

@media (max-width: 400px) {
    nav .right_side{
        font-size: 2.4rem;
    }
    .section1{
        height: 170vh;
    }
    .section2 img{
        height: 65%;
    }
    .section3{
        height: 315vh;
    }
    .subsection3{
        height: 285vh;
        width: 68%;
        
    }
    .subsection3>h1{
        font-size: 2.2rem;
    }
}

@media (max-width: 360px) {
    nav .right_side{
        font-size: 2.3rem;
    }

    .section1{
        height: 150vh;
    }
    .section2{
        height: 210vh;
    }
    .section2 img{
        height: 60%;
    }
    .section3{
        height: 345vh;
    }
    .subsection3{
        height: 315vh;

    }
    .footer{
        height: 240vh;
    }
}



@media (min-height : 800px ) and (max-width : 431px) and (min-width: 400px){
    .section1{
        height: 120vh;
    }
    .section2{
        height: 170vh;
    }
    .footer{
        height: 210vh;
    }
}

@media (min-height : 800px ) and (max-width : 400px) {
    .section1{
        height: 130vh;
    }
    .section2{
        height: 180vh;
    }
    .footer{
        height: 220vh;
    }
}


/* JUST for testing */

.nav > .left_side  .menus{
    height : 65vh;
    width : 225px;
    background-color: rgba(22, 3, 61, 0.948);
    position : fixed;
    right : 20px;
    top: 90px;
}

.nav > .left_side .menus >ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 1.5rem;
    margin: 10px;
}

.nav > .left_side .menus > ul >li{
    width : 190px;
    padding-top: 15px;
    padding-bottom: 15px;
    color : black;
    transform: translateX(-35px);
    text-align: center;
    margin :0px;
}

.nav > .left_side .menus > ul >li:hover{
    box-shadow: 0px 2px 4px white;
}

.menuDisplay{
    display: none;
    z-index: 1000;
}

.menu_btn{
    cursor : pointer;
}


.red{
    color : red;
}

