body{
    background-color: rgb(8 8 33);
    color : white;
    padding: 0px;
    margin : 0px;
}

nav{
    position: fixed;
    background-color: #151531;
    height: 65px;
    width: 100%;
    margin: 25px 0px;


   
    
}

.supernav{
    height: 90px;
    width: 100%;
}


.nav{
    display: flex;
    margin: 0px 50px;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0px;
    font-size: 1.5rem;
    margin: 10px;
}

nav ul li{
    margin-right: 45px;
    transition : 1s;
}

nav ul li > a{
    text-decoration: none;
    color:rgba(256,256,256,0.5);
}


nav ul li:hover{

    transform :scale(1.2);
    cursor:pointer;

} 
   

nav ul li a:hover{
    color : rgba(256,256,256,1);

}
.right_side{

    font-family: "Protest Guerrilla", sans-serif;
    font-size: 3rem;
    cursor: pointer;
}

.left_side{

    display: flex;
    align-items: center;
}


/* Styling of Section 1 */

.section1{
    display: flex;
    justify-content: space-around;
    /* background-color: #101021; */
}



.section1 >div{
    /* background-color: black; */
    height: 55vh;
    width: 35%;
    margin: 35px;
    padding: 50px; 
    font-size: 40px;
}

.textDechi{
    color: rgb(63, 25, 65);
    font-weight: 900;
    font-size: 3rem;
}

.textDecname{
    font-family: "Protest Guerrilla", sans-serif;
    color: blueviolet;
    font-size: 4rem;

}

.textDecdev{
    color: rgb(63, 25, 65);
    font-weight: 900;
}

#element{
    color: blueviolet;
}


.section1 .rightFSec{
    padding: 0;
    margin: 20;
    height: 400px;
    width : 300px;
    border-radius: 100%;
    border : 4px solid rgba(255, 255, 255, 0.786);
    background: transparent;
    box-shadow: 
        0px 0px 8px white,
        inset 0px 0px 8px white,
        0px 0px 12px rgb(18, 15, 186),
        inset 0px 0px 12px rgb(18, 15, 186);
}

.rightFSec img{
    height: 400px;
    width : 300px;
    border-radius: 100%;
}

.section2{
    height: 75vh;
    width: 87%;
    margin: 35px;
    padding: 50px;
    font-family: "Pacifico", cursive;
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 17, 27);

}

.section2 >div{
    height: 75vh;
    width: 45%;

}

.section2 h1 {
    font-size: 3rem;
    font-weight: 800;
}


.section2 img{
    height: 100%;
    width : 100%;
    border-radius: 50%;
    border:  2px solid white;
    box-shadow: 0px 0px 4px white;
   
}

/* Footer of the web page start */

.footer{
    background-color: rgba(0, 0, 0, 0.45);
    height:  85vh;
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}
.footer > .childFooter{
    height : 100%;
    width : 30%;
}

.footer > .rightFooter{    
    padding : 10px;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.56rem;
    text-align: center;
    

}

.footer > .rightFooter > i{
    font-size: 40px;
    color : white;
}

.footer > .rightFooter > a{
    font-size: 50px;
    color : white;
    opacity: 0.7;
    transition: 1s ease;
   
}
.footer > .rightFooter > a:hover{
    opacity: 1;
    font-size: 59px;  
}

.footer > .midFooter{
    opacity: 0.97;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > .midFooter > img{
    height: 90%;
    width : 70%;
    border-radius: 7px;
    
}

.footer > .leftFooter{
    text-align: center;
    font-size: 30px ;
    font-family: "Protest Guerrilla", sans-serif;

}

.footer > .leftFooter > p{
    color : rgba(256,256,256,0.5);
    cursor: pointer;
    transition: 1s ease;
}

.footer > .rightFooter > p{
    color : rgba(256,256,256,0.5);
    cursor: pointer;
    transition: 1s ease;
}

.footer > .childFooter > h1{
    cursor: pointer;
}

.footer > .childFooter > h3{
    cursor:pointer;
}

 img{
    cursor : crosshair;
}

.footer>.rightFooter>p:hover{
    color : rgba(256,256,256,1);
    font-size: 28px;
}

.footer>.leftFooter>p:hover{
    color : rgba(256,256,256,1);
    font-size: 35px;
}



/* section 3 (part of about starts) */

.section3{
    height: 100vh;
    width: 94%;
    padding-left : 3%;
    padding-right : 3%;
    padding-top : 20px;
}

.subsection3{
    background-color: rgba(0, 0, 0, 0.7);
    padding : 50px;

}

.subsection3>h1{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2.7rem;
    text-align: center;
    box-shadow: 0px 2px 5px wheat;
    transition: 1.5s;
}

.subsection3>h1:hover{
    box-shadow: 0px 4px 8px wheat;
}

.subsection3 > p{
    font-size: 24px;
    font-family :  "Edu AU VIC WA NT Guides", cursive;
    color : rgba(255, 255, 255,0.6) ;
    
}

.section3 > .subsection3 > p > span{
    font-family: "Protest Guerrilla", sans-serif;
    color : rgba(255, 255, 255,1) ;
}